<!DOCTYPE html>
<header>
  <title>Minha primeira página HTML</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
</header>

<html>
  <body>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">luizhgsoares</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item align-self-center">
              <a class="nav-link active" href="#">Tela Inicial </a>
            </li>
            {% if session['usuario'] %}
            <li class="nav-item">
              <p class="nav-link">Bem vindo, {{ session['usuario'] }}</p>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/upload">Upload</a>
            </li>
            {% elif not session['usuario'] %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/usuario">Cadastro</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar-->
    <div class="container py-5 px-5">
      <div class="row">
        <form action="/usuario/addUsuario" method="post">
            <div class="form-group">
              <label for="usuario">Usuário</label>
              <input type="text" class="form-control" id="nome" name="nome" />
            </div>
            <div class="form-group mt-3">
              <label for="senha">Senha</label>
              <input type="password" class="form-control" id="senha" name="senha" />
            </div>
            <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
          </form>
      </div>

      <div class="row mt-5">
        <div class="col-md-12">
          <img src="../static/images/gandalf.gif" />
        </div>

    <script src="../static/css/bootstrap.min.css"></script>
  </body>
</html>
